body {
    background: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 50vmax rgb(0 0 0 / 40%);
}

.header-list {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding: 35px 35px 0 0;
}

.header-link {
    font-family: 'Bebas Neue';
    color: white;
}

.header-link:hover {
    color: #3C82F4;
    transition: all 0.3s linear;
}

main img {
    max-width: 100%;
    border-radius: 20%;
    margin: 100px auto 0;
    display: block;
    transition: 1s;
}

h1 {
    color: whitesmoke;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

p {
    font-family: 'Bebas Neue';
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}

button {
    font-family: 'Bebas Neue';
    display: block;
    color: #FFFFFF;
    font-size: 17px;
    width: 238px;
    height: 57px;
    margin: 30px auto 0;
    border: 1px solid #FFFFFF;
    border-radius: 10px
}

button:hover {
    color: #fff;
    background: #3C82F4;
    transition: all .3s linear;
}

a {
    font-family: 'Bebas Neue';
    color: white;
}

a:hover {
    transition: all 0.3s linear;
}

.footer-wrapper {
    display: flex;
    margin-top: 100px;
    background: #3C82F4;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 0 0 50vmax rgb(0 0 0 / 25%)
}

.footer-copyright-name {
    font-family: 'Bebas Neue';
    color: #FFFFFF;
    font-size: 17px;
}

.footer-icons a {
    margin-right: 30px;
}